<div class="container">
  <h1>Flats</h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="<%= flat["imageUrl"] %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= flat["name"] %></h5>
            <p class="card-text"><%= flat["priceCurrency"] %><%= flat["price"] %></p>
            <a href="#" class="btn btn-primary">See more...</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
